/* LOADING STYLES */

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.projects__loading {
  min-height: 365px;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 80px;
  background: linear-gradient(to right, #eff1f3 4%, #e5e5e5 25%, #eff1f3 36%);
  background-size: 1000px 100%;
  animation: shimmer 2s linear infinite;
}

.projects__loading:nth-child(odd) {
  margin-bottom: 20px;
}

/* LOADING STYLES */

.projects {
  background-color: #e5e5e5;
}

.projects__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 80px 80px;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
}

.projects__hero {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__hero-text {
  margin-right: 40px;
  max-width: 620px;
}

.projects__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
}

.projects__subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  color: #616161;
  font-weight: 400;
}

.projects__hero-image {
  max-width: 40%;
}

.projects__buttons {
  width: 100%;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 80px;
}

.projects__buttons_position_end {
  width: 75%;
  max-width: 712px;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.projects__button {
  width: 100%;
  border-radius: 40px;
  border: 2px solid #ff9900;
  color: #ff9900;
  background-color: #ffffff;
  height: 70px;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.projects__button:hover {
  color: #ffffff;
  background-color: #ff9900;
}

.projects__button_active {
  color: #ffffff;
  background-color: #ff9900;
}

.projects__button_type_cta {
  color: #ffffff;
  background-color: #ff9900;
  transition: transform 0.3s ease;
}

.projects__button_type_cta:hover {
  transform: translate3D(0, -1px, 0) scale(1.05);
}

.projects__button_hidden {
  display: none;
}

.projects__button_center {
  max-width: 348px;
  justify-self: center;
}

.projects__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 1600px;
}

@media (max-width: 1024px) {
  .projects__content {
    padding: 60px 40px 40px;
  }
  .projects__hero-image {
    max-width: 50%;
  }
}

@media (max-width: 980px) {
  .projects__buttons {
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 75%;
  }

  .projects__buttons_position_end {
    width: 75%;
    max-width: none;
  }
}

@media (max-width: 768px) {
  .projects__content {
    padding: 16px 16px 60px;
  }

  .projects__hero {
    flex-direction: column-reverse;
  }

  .projects__hero-image {
    max-width: 100%;
  }

  .projects__hero-text {
    margin: 0;
  }

  .projects__hero-image {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .projects__buttons {
    max-width: none;
  }

  .projects__buttons_position_end {
    max-width: none;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .projects__title {
    font-size: 32px;
    line-height: 36px;
  }
}
