.review {
  /*  */
  background-color: #fff;
  padding: 32px;
  border-radius: 14px;
}

.review__reviewer-info {
  /*  */
}

.review__avatar {
  /*  */
}

.review__title-container {
  /*  */
}

.review__title {
  /*  */
}

.review__subtitle {
  /*  */
}

.review__review {
  /*  */
}

.review__show {
  color: #ff9900;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.review__show:hover {
  opacity: 0.7;
}

.review__show_hidden {
  display: none;
}
