@keyframes appear {
  from {
    transform: scale(1.02);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.project * {
  border: 1px solid red;
}

.project {
  animation: appear 0.3s ease-out forwards;
  margin-bottom: 60px;
}

.project__image {
  width: 300px;
  border-radius: 10px;
}
