.header {
  display: flex;
  justify-content: space-between;
  margin: 27px 80px 0 80px;
}

.header__mobile-wrapper {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  max-width: 189px;
}

.logo-link:hover {
  cursor: pointer;
}

.logo {
  width: 100%;
  object-fit: contain;
}

.header__hamburger-button {
  display: none;
}

.header__x-icon-button {
  display: none;
}

.header__menu {
  display: flex;
  flex-direction: column;
}

.header__navbar {
  display: flex;
  padding: 0;
}

.header__list {
  margin-right: 32px;
  list-style: none;
  display: flex;
  align-items: center;
}

.header__list:last-child {
  margin-right: 0;
}

.header__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.53px;
  color: #616161;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: #000000;
  cursor: pointer;
}

.header__button {
  color: #ff9900;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 18px 32px;
  border: 2px solid #ff9900;
  border-radius: 30px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.header__button:hover {
  color: white;
  cursor: pointer;
  background-color: #ff9900;
}

@media (max-width: 1024px) {
  .header {
    margin: 27px 40px 0 40px;
  }

  .logo-link {
    width: 137px;
    height: 25px;
  }

  .logo {
    width: 100%;
    height: 100%;
  }

  .header__list {
    margin-right: 20px;
  }
}

@media (max-width: 940px) {
  .header {
    margin: 27px 20px 0 20px;
  }

  .header__list {
    margin-right: 15px;
  }
}

@media (max-width: 840px) {
  .header__list {
    margin-right: 12px;
  }

  .header__link {
    font-size: 14px;
  }

  .header__button {
    padding: 15px 25px;
    font-size: 14px;
  }
}

@media (max-width: 740px) {
  .logo-link {
    width: 110px;
  }

  .header__list {
    margin-right: 10px;
  }

  .header__link {
    font-size: 12px;
  }

  .header__button {
    padding: 10px 20px;
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .header {
    position: relative;
    flex-direction: column;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }

  .logo-link {
    width: 137px;
  }

  .header__mobile-wrapper {
    justify-content: space-between;
    padding: 13px 20px 13px 20px;
  }

  .header__hamburger-button {
    display: none;
    background-color: transparent;
    border: none;
  }

  .header__hamburger-button:hover {
    cursor: pointer;
  }

  .header__hamburger-button_active {
    display: block;
  }

  .header__x-icon-button {
    display: none;
    background-color: transparent;
    border: none;
  }

  .header__x-icon-button:hover {
    cursor: pointer;
  }

  .header__x-icon-button_active {
    display: block;
  }

  .header__menu {
    width: 70%;
    left: 50%;
    transform: translate(-50%);
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: #ffffff;
    top: 72px;
    z-index: 2;
    border-radius: 0 0 15px 15px;
  }

  .header__homepage-menu_type_active {
    transition: max-height 1s ease, min-height 1s ease;
    max-height: 540px;
    min-height: 576px;
  }

  .header__profession-menu_type_active {
    transition: max-height 0.7s ease;
    max-height: 350px;
    min-height: 350px;
  }

  .header__menu_type_inactive {
    transition: max-height 0.7s ease;
    max-height: 0;
  }

  .header__menu-overlay {
    position: absolute;
    box-sizing: border-box;
    top: 72px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    min-height: 100vh;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
  }

  .header__menu-overlay_type_active {
    transition: opacity 01s ease;
    opacity: 1;
    visibility: visible;
  }

  .header__menu-overlay_type_inactive {
    transition: visibility 01s ease, opacity 01s ease;
    opacity: 0;
    visibility: hidden;
  }

  .header__navbar {
    flex-direction: column;
    align-items: center;
    margin-top: 66px;
    margin-bottom: 70px;
  }

  .header__list {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__list:last-child {
    margin-bottom: 0;
  }

  .header__link {
    font-size: 34px;
    line-height: 39.37px;
    color: #000000;
    text-align: center;
  }

  .header__button {
    font-size: 24px;
    line-height: 32px;
    padding: 19px 0;
    color: #ffffff;
    background-color: #ff9900;
    width: 250px;
    margin: 0 auto;
    border-radius: 40px;
  }

  .header__button:hover {
    transform: translate3D(0, -1px, 0) scale(1.05);
  }
}

@media (max-width: 480px) {
  .header__menu {
    width: 100%;
  }

  .header__homepage-menu_type_active {
    max-height: 570px;
    min-height: 576px;
  }

  .header__navbar {
    margin: 70px 0;
  }

  .header__button {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .header__homepage-menu_type_active {
    max-height: 520px;
    min-height: 520px;
  }

  .header__mobile-wrapper {
    padding: 10px 16px 36px 16px;
  }

  .header__list {
    margin-bottom: 20px;
  }
}
