@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
/* @import url(//db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=Suisse+Intl); */
/* This file takes the place of /src/index.css and thus that file has been deleted -Jake */

.page {
  font-family: 'Suisse Intl', sans-serif;
  min-width: 320px;
  margin: 0 auto;
}
