@import url(../vendor/normalize.css);
@import url(//db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=Suisse+Intl);

.page {
  font-family: 'Suisse Intl', sans-serif;
  font-weight: 400;
  min-width: 320px;
  margin: 0 auto;
}
