.transparency {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.transparency:hover {
  opacity: 0.7;
}

.footer {
  background-color: #1a1b22;
  color: #dddddd;
  padding: 80px;
  font-size: 20px;
  line-height: 30px;
  overflow: hidden;
}

.footer__content {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'about credit top'
    'contact credit copy';
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}

.footer__about {
  grid-area: about;
  text-decoration: none;
  color: inherit;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer__top {
  grid-area: top;
  text-decoration: none;
  color: inherit;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.footer__contact {
  grid-area: contact;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.footer__contact-source-wrapper {
  margin: 0;
}

.footer__contact-source {
  text-decoration: none;
  color: inherit;
}

.footer__credits {
  grid-area: credit;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__disclaimer {
  text-align: center;
  background-color: white;
  border-radius: 16px;
  max-width: 348px;
  padding: 16px 32px;
  margin: 0;
  color: #000;
}

.footer__authors {
  background: #ff9900;
  color: #fff;
  margin: 0;
  padding: 20px 16px;
  border-radius: 14px 14px 14px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: -40%;
  right: -100%;
  width: 100%;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform-origin: bottom left;
  transform: scale(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.footer__disclaimer:hover + .footer__authors {
  opacity: 1;
  transform: scale(1);
}

.footer__copyright {
  margin: 0;
  grid-area: copy;
  display: flex;
  align-items: flex-end;
  height: 100%;
  justify-content: flex-end;
  text-align: right;
}
@media (max-width: 1024px) {
  .footer {
    padding: 80px 40px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 40px 10px;
    font-size: 18px;
  }

  .footer__content {
    gap: 60px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'about top'
      'contact contact'
      'credit credit'
      'copy copy';
  }

  .footer__contact {
    align-items: center;
  }
  .footer__contact-source-wrapper {
    margin-bottom: 10px;
  }

  .footer__contact-source-wrapper:last-child {
    margin-bottom: 0;
  }

  .footer__disclaimer {
    padding: 16px;
  }

  .footer__copyright {
    justify-content: center;
  }

  .footer__disclaimer:hover + .footer__authors {
    opacity: 0;
  }
}
